.nav-items {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
header {
  background-color: orange;
  height: 80px;
}
img {
  padding: 100px;
  width: 500px;
  height: 500px;
}
p {
  font-size: medium;
  font-family: "Courier New", Courier, monospace;
  font-weight: 400;
}
.class {
  background-color: orange;
  height: 400px;
}
.jp {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-style: oblique;
  font-size: medium;
}
